
#p1 {
background-color: yellow;
border: 1px solid black;
margin :0px;
padding: 2px;
float: left;
height: 150px;
overflow: auto;
}
#p2{
	background-color: grey;
	border: 1px solid black;
    margin :0px;
    padding: 2px;
    float: left;
    height: 150px;
    overflow: auto;
}
#p3{
	background-color: green;
	border: 1px solid black;
    margin :0px;
    padding: 2px;
    float: right;
    height: 150px;
    overflow: auto;
}
*{
	box-sizing: border-box;
}
.row{
	width: 100%;
}
@media(min-width: 992px){
	#p1{
		width: 33%;
		}
	#p2{
		width: 33%;
	}
	#p3{
		width: 33%;
	}
}
@media(min-width: 768px and max-width: 991px){
	#p1{
		width: 50%;
	}
	#p2{
		width: 50%;
	}
	#p3{
		width: 100%
	}
}