
#p1 {
background-color: yellow;
border: 1px solid black;
margin :5px;
padding: 5px;
}
#p2{
	background-color: grey;
	border: 1px solid black;
    margin :5px;
    padding: 5px;
}
#p3{
	background-color: green;
	border: 1px solid black;
    margin :5px;
    padding: 5px;
}
@media(max-width: 767px){
	#p1{
		width: 100%;
	}
	#p2{
		width: 100%;
	}
#p3{
		width: 100%;
	}


}
